*{
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
}

header{
    width: 1271px;
    height: 45px;
    margin-top: 20px;
    /* position: sticky;
    top: 0; */
    /* width: 100%;
  height: 45px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff; */
}

.header_list{
    gap:163px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first_header{
    color: #FFFFFF;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif
}

.second_header ul{
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 30px;
    display: inline-flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.second_header ul li a{
    color:#C1C1C1;
}

a{
    text-decoration: none;
}

.third_header{
    color:#FFFFFF;
    width: 126px;
    height: 45px;
    border: 1px solid #4FC3F7;
    border-radius: 9px;
    position: relative;
}
.third_header a{
    color: #FFFFFF;
    width: 88px;
    height: 18px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


/* first section css */
#first_section{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    width: 100vw;
    height: 812px;
    display: flex;
    justify-content: center;
    
}

.section-header{
    margin-top: 20px;
    margin-left: 30px;
    width: 1025px;
    height: 764px;
    background-image: url("Rectangle 3.png");
    background-size:  1025px 764px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-sec-content{
    position: relative;
}

.first-section-img{
    position:absolute;
}

.first-sec-img img{
    border-radius: 500px;
}

.second-sec-content h1{
    color:#FFFFFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;

}
.second-sec-content h3{
    color: #4FC3F7;
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.third-sec-content{
    color: #E1E1E1;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 793px;
    height: 90px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2rem;
}

#second-section{
    width:100%;
    height: 500px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-about{
    color: #FFFFFF;
   
}

.second-first-artice h2{
    font-size: 45px;
}

.second-first-artice p{
    font-size: 14px;
    text-align: center;
}
.second-about-content{
    width: 865px;
    height: 250px;
}

.second-about-content article p{
    color: #FFFFFF;
    font-size: 17px;
    text-align: center;
}

.second-content-cv{
    width: 216px;
    height: 55px;
    padding-left: 5px;
    border: 1px solid #4FC3F7;
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-content-cv a{
    width: 146px;
    height: 18px;
    font-size: 15px;
    color: #FFFFFF;
    

}

/* third section css  */

#third_content{
    margin-top: 80px;

}
.third-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third_heading h2{
    color: #FFFFFF;
    font-size: 45px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.third_heading p{
    color: #4FC3F7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.third_container_body{
    color: #FFFFFF;
    margin-top: 50px;
    gap: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.third_data{
    background-color: #2B2B2B;
    margin-top: 10px;
    padding: 10px;
    width: 289px;
    height: 220px;
    border: 1px solid;
    border-radius: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.third_data:hover{
    transition: all  0.5  ease ;
    box-shadow: rgba(188, 188, 240, 0.2) 0px 7px 29px 0px;
}

.mero_skill{
    background-color: #2B2B2B;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.mero_skill h2{
    background-color: #2B2B2B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
}
.mero_skill p{
    background-color: #2B2B2B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 5px;
}
.third_container_sec{
    margin-top: 10px;
    padding: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.third_sec_data{
    width: 620px;
    height: 273px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.third_sec_data:hover{
    transition: all  0.5  ease ;
    box-shadow: rgba(188, 188, 240, 0.2) 0px 7px 29px 0px;
}
.third_sec_ctn{
    color: #FFFFFF;
    background-color: #2B2B2B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /* padding-top: 10px;
    padding-left: 10px; */
    width: 314px;
    height: 145px;
    margin-bottom: 45px;
    padding: 14px;
    /* padding: 20px; */
}
.third_sec_data_sec:hover{
    transition: all  0.5  ease ;
    box-shadow: rgba(188, 188, 240, 0.2) 0px 7px 29px 0px;
}
.third_sec_ctn_img img{
    width: 234px;
    height: 218px;
    border-radius: 10px;
}

.third_sec_data_sec{
    color: #FFFFFF;
    background-color: #2B2B2B;
    padding-top: 10px;
    padding-left: 10px;
    width: 289px;
    height: 274px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}



/* fourth section  */
#fourth_section{
    margin-top: 20px;
    color: #FFFFFF;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth_section_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth_section_container h2{
    color: #FFFFFF;
    font-size: 45px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.fourth_section_container p{
    color: #4FC3F7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.fourth_section_content{
    width:1056px;
    height: 56px;
    font-size: 16px;
    position: relative;
    gap: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fourth_data{
    background-color: #484E53;
    padding: 10px 18px;
    border: 1px solid #A9A9A9;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.fourth_data h3{
    background-color: #484E53;
}

.fourth_project_sec{
    margin-top: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth_cart{
    height: 344px;
    height: 297px;
    border: 1px solid #4FC3F7;
    border-radius: 10px;


}
.fourth_cart_img img{
    border-radius: 10px;
}
.fourth_cart_title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;

}
.fourth_cart_link{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    gap: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}
.fourth_cart_link a{
    background-color: #4FC3F7;
    height: 30px;
    width: 30px;
    align-self: center;
    border: 1px solid #4FC3F7;
    border-radius: 50%;

}


/* form secton  */
#form_section{
    margin: 60px;
    gap: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.form_head{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
.form_head h2{
    font-size: 45px;
}
.form_head p{
    font-size: 14px;
    text-align: center;
}
#form_section form{
    margin-top: 30px;
    gap:3px;
    display: flex;
    flex-direction: column;

    
}
form label{
    color: #FFFFFF;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    
}
form input{
    width: 400px;
    height: 27px;
    border: 1px solid #484E53;
    border-radius: 5px;
    padding: 5px;

}
textarea{
    width: 400px;
    height: 128px;
    margin-bottom: 10px;
    padding: 2px;
    border-radius: 5px;
}
form button{
    background-color: #FFFFFF;
    width: 400px;
    height: 27px;
    border-radius: 5px;
}
#form_section input::placeholder,
#form_section textarea::placeholder {
    color: #aaaaaa;
    font-size: 14px;
}
input:focus,
textarea:focus{
    color: #FFFFFF;
}


/* footer section  */
footer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.footer_first_sec{
    color: #DEDEDE;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
.footer_first_sec h2{
    font-size: 63px;
}

.email_section{
    margin-top: 15px;
    width: 310px;
    height: 50px;
    border: 1px solid #484E53;
    border-radius: 10px;
    gap: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.email_section a{
    color:#C9C9C9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}


.footer_second_sec{
    color: #A9A9A9;
    margin-top: 20px;
    font-size: 16px;
    gap: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.footer_sec_img{
    gap: 20px;
    display: flex;
}
.footer_second_sec{
    color: #484E53;
    padding: 20px;
}

