*{
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
}

header{
    width: 1271px;
    height: 45px;
    margin-top: 20px;
}

.header_list{
    gap:163px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first_header{
    color: #FFFFFF;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif
}

.second_header ul{
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 30px;
    display: inline-flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.second_header ul li a{
    color:#C1C1C1;
}

a{
    text-decoration: none;
}

.third_header{
    color:#FFFFFF;
    width: 126px;
    height: 45px;
    border: 1px solid #4FC3F7;
    border-radius: 9px;
    position: relative;
}
.third_header a{
    width: 88px;
    height: 18px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


/* first section css */
#first_section{
    margin-top: 20px;
    width: 100vh;
    height: 812px;
    
}

.section-header{
    margin-top: 20px;
    margin-left: 30px;
    width: 1025px;
    height: 764px;
    background-image: url("Rectangle 3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-sec-content{
    position: relative;
}

.first-section-img{
    position:absolute;
}

.first-sec-img img{
    border-radius: 500px;
}

.second-sec-content h1{
    color:#FFFFFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;

}
.second-sec-content h3{
    color: #4FC3F7;
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.third-sec-content{
    color: #E1E1E1;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 793px;
    height: 90px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2rem;
}

#second-section{
    width:100%;
    height: 500px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-about{
    color: #FFFFFF;
   
}

.second-first-artice h2{
    font-size: 45px;
}

.second-first-artice p{
    font-size: 14px;
    text-align: center;
}
.second-about-content{
    width: 865px;
    height: 250px;
}

.second-about-content article p{
    color: #FFFFFF;
    font-size: 17px;
    text-align: center;
}

.second-content-cv{
    width: 216px;
    height: 55px;
    border: 1px solid #4FC3F7;
    border-radius: 55px;
    position:relative ;

}

.second-content-cv a{
    width: 146px;
    height: 18px;
    font-size: 15px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}